APP_NAME=autowz
APP_ENV=dev
APP_DEBUG=true
API_PREFIX=/api/v1

WECHAT_APP_ID=wx43bfc1d5636565cb
WECHAT_APP_SECRET=ae88882163c9033016c9f6e0e0b97cab
WECHAT_BASE_URL=https://api.weixin.qq.com
WECHAT_ENABLE_AUTO_PUBLISH=false
WECHAT_FALLBACK_TO_DRAFT=true

CONTENT_AUTHOR=知微观澜
DEFAULT_COMMENT_OPEN=1
DEFAULT_FANS_COMMENT_ONLY=0

OPENAI_API_KEY=sk-760516666
OPENAI_BASE_URL=http://140.238.201.162:8317/v1
OPENAI_MODEL=gpt-5.4

REDIS_URL=redis://localhost:6379/0
MYSQL_DSN=mysql+pymysql://root:password@localhost:3306/autowz?charset=utf8mb4
